body {
    background-color: #08183a;
    height: 100vh;
}

.container-fluid {
    height: 100vh;
}

.card {
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0; /* Đảm bảo không có margin gây lệch */
}
.btn-warning {
    background-color: #fbc02d;
    border: none;
}
.btn-warning:hover {
    background-color: #e6a700;
}
.form-switch label {
    cursor: pointer;
}